*{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Open Sans", sans-serif;
}

/*navbar*/
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul{
	list-style-type: none;
}

nav li{
	margin: .5rem;
	display: inline-block;
	/*vertical-align: middle; - sets the vertical alignment in the middle*/
	vertical-align: middle;
}

/*Intro section*/

#intro{
	/*using % in margin or padding will use n% of the screen size as its margin/padding*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2, #intro > p{
	margin-bottom: 1rem;

}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;

}

/*info section*/
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2{
	margin-bottom: 1rem;
}

#info > .card{
	border: 1px solid black;
	display: inline-block;
	/*using % will consume n% of the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*aligns the .card elements at the top of their line*/
	vertical-align: top;
	/*min-height - sets the minimum height for the content if it does not reach the target height*/
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

/*Pre-Footer Section*/

#pre-footer{
	background-color: #111E6C;
	color: white;
	padding: 20px 25px 20px;
	font-size: 13px;
}


.pre-foot > ul{
	list-style-type: none;
}
#pre-footer > .pre-foot{
	display: inline-block;
	/*using % will consume n% of the screen size*/
	width: 20%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	list-style-type: none;
}

.pre-foot > h3{
	margin-bottom: 1rem;
}

.pre-foot li{
	margin-bottom: .5rem;
}
/*Footer Section*/
footer{
	padding: 8rem;
	text-align: center;
	padding-top: 0;

}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}